/* 4. Cores e box model */

header {
  background-color: #4a90e2;
  color: white;
  margin: 10px;
  padding: 20px;
  border: 3px solid #1c3d72;
}

main {
  background-color: #f0f4f8;
  color: #333;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ccc;
}

footer {
  background-color: #333;
  color: white;
  margin: 10px;
  padding: 10px;
  border: 3px solid #000;
  text-align: center;
}

/* 5. Seletores */

h2 {
  font-size: 1.8em;
  text-decoration: underline;
}

.destaque {
  font-style: italic;
  background-color: #ffffcc;
}

#importante {
  border-top: 5px solid #ff4500;
  padding-top: 10px;
}
